[Unit]
Description=Loki Log Aggregation
After=network.target

[Service]
User=loki
Group=loki
ExecStart=/usr/local/bin/loki --config.file=/etc/loki/config.yml
Restart=always
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target

