[Unit]
Description=Promtail Log Forwarder
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/promtail --config.file=/etc/promtail/config.yml
Restart=always

[Install]
WantedBy=multi-user.target

